.navbar-main-div {
  background: linear-gradient(90deg, #9488c7 0%, #ad93d3 30%, #d4b1ae 67%, #e7b8c0 100%);
  background-size: 1000%;
  animation: background 20s linear alternate infinite;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transition: transform 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  height: var(--navbar-height);

  &.hide {
    transform: translateY(-100%);
  }

  .navbar-mobile-hamburger {
    display: none;
  }

  .navbar-links {
    display: flex;
    gap: 20px;
    align-items: center;
    box-shadow: inset 0 0 0 0 #3506b8;
    color: #a0a3d6;
    margin: 0 -.25rem;
    padding: 0 .25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;

    .navbar-item {
      box-shadow: inset 0 0 0 0 #3f0088;
      color: #f6f6f7;
      margin: 0 -.25rem;
      padding: 0 .25rem;
      transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
      text-decoration: none;

      padding: 5px 10px;

      &.active {
        font-weight: bold;
      }

      &:hover {
        box-shadow: inset 100px 0 0 0 #eca4bc;
        color: white;
      }
    }
  }

  .navbar-actions-div {
    display: flex;
    gap: 10px;
    align-items: center; 

    button {
      background-color: white;
      border: none;
      padding: 5px 10px;
      color: #333;
      cursor: pointer;

      &:hover {
        background-color: #eee;
      }
    }
  }
}


@media screen and (max-width: 768px) {
  .navbar-main-div {
    flex-direction: column; 

    .navbar-mobile-hamburger {
      z-index: 5;
      display: block; 
    }

    .navbar-links {
      display: none; 
      flex-direction: column; 
      width: 50%;
      background-color: rgba(172, 155, 236, 1); 
      padding: 10px 0; 
      gap: 5px; 
      border-radius: 5%;
      z-index: 6;

      .navbar-item {
        color: #6f62b9; 

      
      }

      &.opened {
        display: flex; 
        transform: translateY(0px)translateX(40px);
        height: fit-content;
      

      }
    }
  }
  .navbar-actions-div {
    display: flex;
    gap: 10px;
    align-items: center; 
    justify-content: flex-end;
    transform: translateY(-40px);

    button {
      background-color: white;
      border: none;
      padding: 5px 10px;
      color: #333;
      cursor: pointer;

      &:hover {
        background-color: #eee;
      }
    }
  }
}